.modal {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.modal__container {
  background: white;
  width: 500px;
  height: 200px;
  margin: 100px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
